<?xml version="1.0"?>

<launch>
	<arg name="robot_name" default="sparus2"/>

    <group ns="$(arg robot_name)">

    <include file="$(find pcl_ros)/samples/pcl_ros/filters/sample_statistical_outlier_removal.launch"/>
    

	<node pkg="fls_detection" type="fls_flc_fusion_oculus.py" name="fusion_node" output="screen" >
	</node>	
    </group>
</launch>

